<% title "Services" %>
<ul id="services">
<% @services.each do |service| %>
  <li style="background-image: url(<%= service.image.url if service.image.present? %>)">
    <div class="inner">
    <h1 class="title"><%= service.name %></h1>
    <div class="description"><%= service.description %></div>
    </div>
  </li>
<% end %>
</ul>
