<div>
  <h1>Services</h1>
<table class="sortable" data-update-url="<%= sort_admin_services_url %>">
<% @services.each do |service| %>
<%= content_tag_for :tr, service do %>

    <td>+</td>

  <td><%= link_to service, edit_admin_service_path(service) %></td>
<% end %>
<% end %>
</table>
</div>
