<div>
  <h1>Our Ethos</h1>
<table>
<% @ethoses.each do |ethos| %>
  <tr>
  <td><%= link_to ethos, edit_admin_ethos_path(ethos) %></td>
  </tr>
<% end %>
</table>
</div>

<%= link_to "New Ethos", new_admin_ethos_path, class: 'button' %>