<h1>Downloads</h1>

<ul>
<% @downloads.each do |download| %>
  <li>
    <h3><%= link_to download.name, download.file.url %></h3>
    <div><%= download.description %></div>
    <span><%= link_to('Edit', edit_admin_download_path(download))  if current_user.present? %></span>
  </li>
<% end %>
</ul>

<%= link_to('New Download', new_admin_download_path) if current_user.present? %>
