<ul id="social_columns">
  <li class="twitter">
    <ul>
    <% @posts.each do |tweet| %>
      <li class="tweet">
        <span class="title">twitter, <%= time_ago_in_words tweet.posted_at %> ago</span>
        <p><%= tweet %></p>

      </li>
    <% end %>
    </ul>
  </li>
  <li class="facebook"></li>
  <li class="youtube"></li>
  <li class="flickr"></li>
</ul>