<ul id="social_columns">
  <li class="twitter">
    <h2>Twitter</h2>
    <ul>
    <% @posts.each do |tweet| %>
      <li class="tweet">
        <span class="title">twitter, <%= time_ago_in_words tweet.posted_at %> ago</span>
        <p><%= tweet %></p>
      </li>
    <% end %>
    </ul>
  </li>

  <li class="facebook"></li>

  <li class="youtube">
    <h2>Youtube</h2>
    <ul>
    <% YoutubePost.limit(3).each do |video| %>
      <li class="tweet">
        <span class="title">youtube, <%= time_ago_in_words video.posted_at %> ago</span>
        <div class="video"><%= raw video_tag(video.service_id, '100%', 300) %></div>
      </li>
    <% end %>
    </ul>
  </li>

  <li class="flickr"></li>
</ul>