<div>
  <h1>Projects</h1>
  <table class="sortable">
  <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project, edit_admin_project_path(project) %></td>
      <td><%= link_to "Delete", admin_project_path(project), method: :delete, confirm: "Are you sure?" %></td>
    </tr>
  <% end %>
  </table>
  <%= link_to 'New Project', new_admin_project_path, class: 'button' %>
</div>
