<div id="map_canvas"></div>

<div id="address">
  <span class="company">UrbanLites Ltd</spa>
  <span>Unit 10, Medlock Court</span>
  <span>The City Works</span>
  <span>Manchester</span>
  <span>M11 2NB</span>
  <span>+44 (0)161 402 3271</span>
  <span><%= mail_to "chris@urbanlites.com", "Email Us", encode: "hex" %></span>
</div>

<div id="downloads">
<%= link_to "Downloads", downloads_path %>
</div>