<div id="map">
  <div class="inner">
  <div id="map_canvas"></div>
  <div id="map_address">

    <h4 id="how_to_contact_us">How to Contact Us</h4>
    <span class="company">UrbanLites Ltd</spa>
    <span>Unit 10</span>
    <span>Medlock Court</span>
    <span>The City Works</span>
    <span>Manchester</span>
    <span>M11 2NB</span>
    <span class="tel">Tel. +44 (0)161 402 3271</span>
    <span>Email us at:<br/><%= mail_to "chris@urbanlites.com", "chris@urbanlites.com", encode: "hex", class: 'email_us' %></span>
  </div>
  </div>
</div>

<div id="downloads">
  <%= link_to "Click here to access our downloads page...", downloads_path, id: "downloads_button", class: 'hide_text' %>
  <%#= link_to "Downloads", downloads_path %>
</div>

<%= render 'application/twitter' %>