<% title "Our Ethos" %>
<div id="window_container">
  <div id="my-slideshow">
    <ul class="bjqs">
      <% Ethos.all.each do |ethos| %>
      <li>
        <div class="window" style="background: url(<%= ethos.image.url if ethos.image.present? %>)">
          <div class="inner_container">
          <div class="inner">
          <h1><%= ethos.headline %></h1>
          <%= ethos.description %>
          </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<!--
<ol id="our_ethos">
  <li>Equipment kept to highest standard</li>
  <li>We try harder and go further than our competitors</li>
  <li>Our attention to detail sets us apart</li>
  <li>From concept to creation, we're with you all the way</li>
  <li>To be fast and flexible</li>
  <li>No job is considered too small nor too large</li>
  <li>To be as eco-friendly as possible</li>
</ol>
-->