// Place all the styles related to the Activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3.activity_filter {
  color: #DDD;
}

ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#social_columns > li {
  @include grid(2);

  .title {
    color: $blue;
    font-size: .9em;
  }
  p {
    margin: .2em;
  }

  & li {
    border-bottom: 1px solid $blue;
    padding: 8px 0;
  }
  & li:last-child {
    border-bottom: none;
  }
}