body {
  background: #FEFEFE;
}

label {
  display: block;
}

ul#navigation {
  display: inline;
  margin: 0;
  padding: 0;
  li {
    display: inline;
  }
}

#admin_bar {
background: white;
padding: 5px;
text-align: center;
}

span.hint {
  color: #888;
}