@import "bourbon";

$gw-column: 100px;          // Column Width
$gw-gutter: 40px;           // Gutter Width


* {
  margin: 0;
  padding: 0;
}

nav {
  ul,li {
    list-style: none;
    display: inline;
  }
}

.container {
  width: grid-width(7);     // returns 520px;
  margin: 0 auto;
}
#telephone_number {
  float: right;
}

@import "home";
@import "contact";
@import "services";
@import "our_ethos";
@import "slider";
