.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

p {
  margin: 1em 0;
}

#window {
  background-repeat: no-repeat;
  background-position: center center;
}

$break-small: 320px;
$break-large: 1200px;

@import "bourbon";
@import "boilerplate";

@mixin opacity($alpha) {
  // IE 8
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
  // IE 5-7
	filter: alpha(opacity=$alpha*100);
	// Real Browsers
  -webkit-opacity: $alpha;
  -moz-opacity: $alpha;
  -khtml-opacity: $alpha;
  opacity: $alpha;
}

@mixin unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin font-face($font-family, $url) {
   @font-face {
      font-family: $font-family;
//      src: url('#{$url}.eot?') format('eot'), url('#{$url}.woff') format('woff'), url('#{$url}.svg') format('svg'), url('#{$url}.ttf') format('truetype');
      src: url('#{$url}.woff') format('woff');
   }
}

@include font-face('Formata', '/assets/Formata-Regular');
@include font-face('FormataMedium', '/assets/Formata-Medium');
@include font-face('FormataItalic', '/assets/Formata-Italic');

@mixin bold { font-family: FormataMedium, Tahoma, Arial, sans-serif; font-weight: normal; }
@mixin italic { font-family: FormataItalic, Tahoma, Arial, sans-serif; font-style: italic; }

$column-width: 160px !default;
$gutter-width: 10px !default;
$columns: 5 !default;

@mixin grid($i) {
  width: $column-width * $i + (($gutter-width * 2) * ($i - 1));
  margin: 0 $gutter-width;
  float: left;
}

html, body {
	height: 100%;
}

span {
  display: block;
}

$blue: #4a63ae;

a, a:active, a:visited {
  color: $blue;
}

.grid_1 {
  @include grid(1);
  height: 50px;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  @include bold;
  text-shadow: 1px 1px 1px #000;
}

h5,h6 {
  font-size: 1.1em;
}

h6 {
  color: $blue;
}

#main {
  padding-bottom: 20px;
  padding-top: 20px;
}

header {
  background: #000 image-url('header_bg.jpg') top right no-repeat;

  @extend .clearfix;
  border-bottom: 1px solid $blue;
  text-shadow: 1px 1px 1px #000;
  h2#logo {
    background: image-url('urban_lites_logo.png');
    width: 247px;
    height: 46px;
    @extend .hide_text;
    padding: 0;
    margin-bottom: 10px;
    display: block;
  }

  .container {
    padding: 35px 0 20px;
  }
}
#admin_bar {
  background: #2D9940;
  @extend .clearfix;
  margin-bottom: 10px;
  padding: 15px;
	text-align: center;
  a {
    color: #FFF;
    text-shadow: 1px 1px 1px #164B1D;
    text-decoration: none;
    font-weight: bold;
  }
}

$footerheight: 140px;

.page_wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	margin-bottom: -$footerheight;
}

footer, .push {
  height: $footerheight;
}

footer {
    @extend .clearfix;
  .inner {
    border-top: 1px solid $blue;
//    background: #222738;

    background: image-url('pngs/footer_bg.png') repeat-x;
    @include linear-gradient(#222738, #000);
    background-color: #000;
    padding-top: 10px;
    height: 100%;
  }
  font-size: .9em;
  #social_buttons {
    @include grid(1);
    ul{

    &, li {
      margin: 0;
      padding: 0;
      float: left;
      display: block;
    }

    li {
      @extend .hide_text;
      background-repeat: no-repeat;
      background-image: image-url('sprites.png');
      margin-right: 10px;
      width:24px; height:24px;
      &.facebook { background-position: -2px -28px};
      &.flickr {background-position: -28px -28px};
      &.twitter {background-position: -2px -2px};
      &.youtube {background-position: -28px -2px};

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    }
  }
  #address {
    @include grid(4);
    text-align: right;
    span {
      display: block;
    }
    a {
      color: #FFF;
    }
  }
}

body {
  overflow-y: always;
  background: #000;
  color: #FFF;
  font-size: 14px;
  min-width: 940px;
  font-family: Formata, Tahoma, Arial, sans-serif;

  height: 95%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background: #000 image-url('pngs/main_bg.png') repeat-x;
  @include linear-gradient(#0D101D, #000);
  background-color: #000;

}

a {
  color: #4576F5;
}

q p, blockquote p {
  margin-bottom: 0;
}

#ident {
  cursor: pointer;
  @include grid(2);
  font-size: .85em;
  img {
    margin-bottom: 10px;
  }

}

#contact_details {
  @include grid(3);
  text-align: right;
  #telephone_number {
    @include bold;
    font-size: 2.1em;
    padding: 0;
    margin: 0;
  }
  span {
    display: block;
    color: #C5D2F3;
  }
  a {
    color: #C5D2F3;
  }
  a:hover {
    color: #FFF;
  }
}

.button {
  @include button;
  color: #FFF !important;
}

.hide_text {
//  text-indent: 100%;
//  white-space: nowrap;
//  overflow: hidden;
text-indent: -999px;
}

nav {
  background-image: image-url('nav_bg.gif');
  background-position: center;
  background-repeat: repeat-x;
  @include linear-gradient(#566CB0 48%, #4C64AC 48%);

  clear: both;
//  overflow: hidden;
    @extend .clearfix;
//  border-top: 1px solid black;
  border-bottom: 1px solid black;
  ul,li {
    list-style: none;
  }
  li {
    float: left;
    display: block;
    @include grid(1);
    a {
      position: relative;
      z-index: 99999;
    }
    a, a:active, a:visited {
      color: #FFF !important;
      padding: 7px 0;
      display: block;
      text-align: center;
      width: 100%;
      @include bold;
      text-shadow: 1px 1px 1px #2E3F81;
    }
    a:hover {
      background: image-url('pngs/nav_bg.png');
      background: rgba(255,255,255,0.2);
    }
  }
}

a {
  text-decoration: none;
}
.container {
//  overflow: hidden;
    @extend .clearfix;
//  background: image-url('grid.png') top center repeat-y;
  width: 908px;
//  width: grid-width(5);     // returns 520px;
  margin: 0 auto;
}

#twitter {
  @include grid(2);
  #twitter_bird {
    background: image-url('twitter_bird.png');
    width: 120px;
    display: block;
    height: 57px;
    margin-right: 10px;
    float: right;
  }
  .tweet {
    ul,li {
      list-style: none;
    }
  }
  .tweet_body {
  	position:relative;
  	padding:10px;
  	color:#FFF;
  	text-shadow: 1px 1px 1px #1F2A52;
  	background:$blue; /* default background for browsers without gradient support */
  	a {
  	  color: #FFF;
  	}
  }
  .tweet_time {
    padding: 5px 0 2px;
    a {
      text-decoration: none;
      color: #111;
    }
  }
}




@import "home";
@import "projects";
@import "downloads";
@import "activity";
@import "contact";
@import "services";
@import "our_ethos";
@import "slider";
@import "fileupload/jquery.fileupload-ui";
@import "jquery.bsmselect";
@import "jquery.qtip";
@import "sessions";

a:active, a:selected, a:visited { border: none !important; outline: none !important; }

@import "sushislider";