body#c-downloads-a-index {
.date_uploaded {
  color: $blue;
  font-size: .85em;
  }

h3 a {
  color: #FFF;
}

ul#downloads {
  margin-left: 10px;
}

li.download {
  background: image-url('download.png');
  @include grid(1);
  width: 215px;
  cursor: pointer;
  height: 160px;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 20px;

  .inner {
//    border: 1px solid $blue;
    padding: 10px;
    line-height: 128%;
    width: 152px;
//    height: 140px;
  }
  &:hover {
    h3 {
      color: #6F95E3 !important;
    }
    .date_uploaded {
      color: #FFF;
    }
  }
}

  h1 {
    @include grid(4);
    margin-bottom: 10px;
  }
}