#window_container {
  @include grid(5);
  margin-bottom: 20px;
  overflow: hidden;
  .window {
    display: block;
    border: 1px solid $blue;
    position: relative;
    height: 420px;
    width: 100%;
  }
}


body#c-pages-a-home {

  #my-slideshow {
    //  overflow: auto;
    position: relative;
  }

  ul.bjqs-controls li a.bjqs-prev {
  //  background: red;
  //  left: -20px;
  }

  .window {

    background: image-url('window_example.jpg') #111;


    h1, h2 {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 2em;
      a {
        color: #FFF;
      }
    }
    h2 {
      margin-top: 1em;
      color: $blue;
    }
    .description {

      position: relative;

      .quote {
        @include italic;
        .author {
          color: #cad9f0;
        }
        .company {
          color: $blue;
        }
      }


      dl, dd, dt { margin: 0; padding: 0;}
      dt { color: $blue;}
      dl{ display: block; position: absolute; bottom: 60px;}

  //    padding: 10px;
      float: right;
      width: 180px;
      height: 420px;
  //    background-color: rbga(0,0,0,0.9);
      @include linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.5), #000);
      .inner {
        padding: 10px;
      }

      .see_more {
        background: red;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        background: #1a253e;

        a {
          display: block;
          width: 100%;
          padding: 10px;
          color: #cad9f0;
        }
      }
    }

  }



  #description {
    @include grid(3);
  //  width: grid-width(6);     // returns 520px;
  }


}