.container {
  padding: 0 10px;
//  background: yellow;
}


body#c-pages-a-home {

  #sushislider {

    &, * {
      opacity:inherit;
      filter:inherit;
    }

    h1, h2 {
      position: absolute;
      opacity:inherit;
      filter:inherit;
      top: 20px;
      left: 20px;
      font-size: 2em;
      padding: 0;
      a {
        color: #FFF;
      }
    }

    h1 {
      line-height: 1em;
      position: absolute;
      margin-left: 10px;
      z-index: 999;
    }

    h2 {
      margin-top: 1em;
      color: $blue;
    }
    .description {

      right: 0;
      position: absolute;
      top: 1px;
      right: 20px;
//      opacity:inherit;
//      filter:inherit;
      z-index: 99999;
      .quote {
        @include italic;
        .author {
          color: #cad9f0;
        }
        .company {
          color: $blue;
        }
      }


      dl, dd, dt { margin: 0; padding: 0;
        opacity:inherit;
        filter:inherit;
//        background-color: black;
        }
      dt { color: $blue;}
      dl{ display: block; position: absolute; bottom: 60px; }

  //    padding: 10px;
      float: right;
      width: 180px;
      height: 420px;

      background: image-url('pngs/black_bg.png');
      @include linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.5), #000);
      .inner {
        padding: 10px;
      }

      .see_more {
        background: red;
        position: absolute;
        opacity:inherit;
        filter:inherit;
        bottom: 0;
        right: 0;
        width: 100%;
        background: #1a253e;

        a {
          display: block;
          width: 100%;
          padding: 10px;
          color: #cad9f0;
        }
      }
    }

  }



  #description {
    @include grid(3);
  //  width: grid-width(6);     // returns 520px;
  }


}