body#c-pages-a-our_ethos {
  h1 {
    margin: 0;
    font-size: 3em;
  }
  p {
    clear: both;
  }
  .inner {
    display:table;
    padding: 10px;
    @include grid(4);
    background: rgba(0,0,0,0.4);
  }
  #window {
    display: table-cell;
    vertical-align:middle;
  }
}

ol#our_ethos {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: both;
  li {
    border: 1px solid black;
    display: block;
    width: 120px;
    float: left;
    margin-right: 10px;
    .description {
      background: rgba(0,0,0,0.7);
    }
  }
}