body#c-projects-a-index {
  .project {
    @include grid(2);
    width: 47%;
    margin-bottom: 20px;
    &:nth-child(even) {
      float: right;
    }
    background: image-url('pngs/black_bg.png');
    background: rgba(0,0,0,0.4);
    cursor: pointer;
  }
  .project:hover {
    background: rgba(66,83,168,0.2);
  }
  h1 {
    @include grid(5);
    margin-bottom: .5em;
  }
  .inner {
    padding: 10px;
//    overflow: hidden;
    @extend .clearfix;
  }
  .thumb {
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid $blue;
    margin-right: 26px;
  }
  h3.name a {
    color: #FFF;
    padding-bottom: .3em;
    display: block;
  }
  div.description {
    position: relative;
    width: 250px;
    float: left;
  }
  span.description {
    color: $blue;
    font-size: .85em;
  }
  a.read_more {
//    position: absolute;
//    right: 0;
//    bottom: 0;
    font-size: .85em;
    color: #FFF;
  }
}

body#c-projects-a-show {

  #project_buttons {
    margin-bottom: 10px;
    @extend .clearfix;
  }

  .quote {
    blockquote, span { margin: 0;}
  }

  h1 {
    position: absolute;
    z-index: 999;
  }

  #window_container {
    margin-top: 10px;
    h1 {
      padding: 10px;
    }
  }

  .bjqs-markers {
    position: absolute;
    bottom: 10px;
    right: 25px;
    background: rgba(0,0,0,0.5);
    padding: 10px;
  }

  h1#project_name, h1#project_meta {
    position: relative;
    z-index: 10;
  }

  #window {
    position: relative;
  //  height: 200px;
  }



  ol.bjqs-markers li {
    height: 100px;
    width: 100px;
    background: $blue;
    &:hover img {
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    	filter: alpha(opacity=60);
      opacity: .6;
    }
    &.active-marker img {
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    	filter: alpha(opacity=100);
      opacity: 1;
    }
  }

  #project_detail {
    @include grid(3);
  }

  #in_more_detail {
    color: $blue;
  }

  #project_quotes {
    @include italic;
    @include grid(2);
    ul,li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    blockquote {
      margin: 0;
      padding: 0;
    }
    span.author {
      color: $blue;
    }
    li.video {
      margin-bottom: 10px;
    }
  }

  #previous_project {
    @include grid(3);
  }
  #next_project {
    text-align: right;
    @include grid(2);
  }
  #my-slideshow {
    clear: both;
  }

}