// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label {
  width: 100px;
  display: block;
  float: left;
}
.field {
  margin-bottom: 10px;
}