#sushislider {
  h1 {
    padding: 10px;
    line-height: 1em;
  }
  margin-left: -10px;
  width: 920px;
//  height: 420px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  li.item[data-url] {
    cursor: pointer;
  }
  ol {
    position: absolute;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    background-image: image-url('pngs/black_bg.png');
    background: rgba(0,0,0,0.5);
    margin: 0;
    padding: 5px;
    li {
      @include unselectable;
      float: left;
      margin: 5px;
      img { opacity: 0.5; }
      &.active {
//        border: 1px solid $blue;
        img {opacity: 1;}
        }
    }
  }
  #previous, #next {
    position: absolute;
    background: image-url('arrows.png') no-repeat center left;
    width: 20px;
    height: 100%;
    @extend .hide_text;
    overflow: hidden;
    padding: 0;
  }
  #next {
    background-position: center right;
    right: 0;
  }
  .wrapper {
    width: 880px;
    margin: 0 auto;
  }
  #player_container {
    display: none;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  #inner_wrapper {
    background: black image-url('loading.gif') center center no-repeat;
    border: 1px solid $blue;
    height: 420px;
    width: 880px;
  }
  ul {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: black;
    opacity:inherit;
    filter:inherit;
    li {
      position: absolute;
      opacity:inherit;
      filter:inherit;
      left: 0;
      top: 0;
      width: 880px;
      display: block;
      height: 420px;
    }
  }
}