<div id="twitter">
  <h5>Our latest tweet...</h5>
  <div class="tweet">
    <div class="tweet_body">‘<%= auto_link(Tweet.first).html_safe %>‘</div>
    <div id="twitter_bird"></div>
  </div>
  <span class="tweet_time">about <%= time_ago_in_words(Tweet.first.posted_at) if Tweet.first %> ago</span>
  <span><%= link_to "Follow us on Twitter", 'http://twitter.com/urbanlites' %></span>
</div>
